*{
    margin: 0px;
    padding: 0px;
}
.nav{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-Text{
    display: flex;
    align-items: center;
    gap: 60px;
}